@if (step == 1) {
  <section class="forget-password w-50 mx-auto">
    <div class="container">
      <h2 class="title">Forgot your password?</h2>
      <form [formGroup]="forgetPasswordForm" (ngSubmit)="onForgetPassword()">
        <app-input type="email" formControlName="email" placeholder="Enter your Email"></app-input>
        <app-error [control]="forgetPasswordForm.get('email')" type='email'></app-error>
        <app-submit text="send code"></app-submit>
      </form>
    </div>
  </section>
}

@if (step == 2) {
  <section class="verify-code w-50 mx-auto">
    <div class="container">
      <h2 class="title">Verify code</h2>
    <form [formGroup]="verifyCodeForm" (ngSubmit)="onVerifyCode()">
      <app-input type="text" formControlName="code" placeholder="Enter code"></app-input>
      <p class="forget-link">
        Didn’t receive a code?
        <a (click)="step = 1"> Resend</a>
      </p>
      <app-submit text="Verify"></app-submit>
    </form>
    </div>
  </section>
}
@if (step == 3) {
  <section class="w-50 mx-auto">
    <div class="container">
      <h2 class="title">Set a Password</h2>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
      <app-input type="email" formControlName="email" placeholder="Email"></app-input>
      <app-error [control]="resetPasswordForm.get('email')" type='email'></app-error>
      <app-input type="password" formControlName="newPassword" placeholder="Re-enter Password"></app-input>
      <app-error [control]="resetPasswordForm.get('newPassword')" type='newPassword'></app-error>
      <app-submit text="Sign in"></app-submit>
    </form>
    </div>
  </section>
}
