<section class="w-50 mx-auto">
  <div class="container">
    <h2 class="title">Set a Password</h2>
  <form [formGroup]="setPasswordForm" (ngSubmit)="onSubmit()">
    <app-input type="email" formControlName="email" placeholder="Email"></app-input>
    <app-error [control]="setPasswordForm.get('email')" type='email'></app-error>
    <app-input type="password" formControlName="newPassword" placeholder="Re-enter Password"></app-input>
    <app-error [control]="setPasswordForm.get('newPassword')" type='newPassword'></app-error>
    <app-submit text="Sign in"></app-submit>
  </form>
  </div>
</section>
