<nav>
  <div class="container">
    <div class="icon-bar text-end" (click)="toggleMenu()">
      <i class="fa-solid fa-bars"></i>
    </div>
    <ul class="menu" [class.show]="isMenuOpen">
      <li>
        <div class="dropdown">
          <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            English
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item">Ar</a></li>
          </ul>
        </div>
      <li>
        <a class="signin" routerLink="/">Sign in</a>
      </li>
      <li>
        <a class="register" routerLink="/signup">Register</a>
      </li>
    </ul>
  </div>
</nav>
