<section class="subjects">
  <div class="subjects-header">
    <h3>Subjects</h3>
    <a (click)="toggleViewAll()" class="view-all desktop-view-all" [class.active]="showAll">
      {{ showAll ? 'Show Less' : 'View All' }}
    </a>
  </div>
  <div class="subjects-grid">
    <div class="row">
      @for (subject of displayedSubjects; track subject._id) {
        <div class="col-12 col-md-6 col-xl-4 mb-3">
          <app-subject-card [subject]="subject"></app-subject-card>
        </div>
      }
    </div>
  </div>  
  <a (click)="toggleViewAll()" class="view-all mobile-view-all" [class.active]="showAll">
    {{ showAll ? 'Show Less' : 'View All' }}
  </a>
</section>
