@use '../../../../../../public/sass/abstract/_variables.scss' as *;

section {
  margin-top: 10rem;
}

.title {
  margin: 1.5rem 0;
  font-weight: 700;
  font-size: 24.78px;
}

form {
  .forget-link {
    font-weight: 400;
    font-size: 16px;
    text-align: right;
  }
}

@media (max-width: 1200px) {
  section {
    width: 100% !important;
    padding: 0 20px !important;
  }
}
