<div class="auth">
  <div class="row m-0 h-100">
    <div class="col-12 col-md-6 p-0">
      <div class="left">
        <h2 class="head">Welcome to <span>Elevate</span></h2>
        <p class="desc">Quidem autem voluptatibus qui quaerat aspernatur architecto natus</p>
        <img src="images/auth/auth-bg.svg" alt="">
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="right">
        <app-nav></app-nav>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
