<aside [class.open]="isOpen">
  <div class="sidebar-header d-flex align-items-center justify-content-between">
    <div class="sidebar-logo">
      <img src="images/sidebar/sidebar-logo.svg" alt="logo" class="img-fluid">
    </div>
    <button class="close-btn d-md-none" (click)="toggleSidebar()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="sidebar-menu">
    <ul class="p-0">
      <li>
        <a
          routerLink="/home"
          routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{exact: true}"
          (click)="isOpen = false"
        >
          <mat-icon>dashboard</mat-icon>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a routerLink="quiz-history" routerLinkActive="router-link-active" (click)="isOpen = false">
          <mat-icon>history</mat-icon>
          <span>Quiz History</span>
        </a>
      </li>
      <li>
        <a (click)="logout()" style="cursor: pointer;">
          <mat-icon class="logout-icon">logout</mat-icon>
          <span>Log Out</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
