<aside>
  <div class="sidebar-logo mb-3">
    <img src="images/sidebar/sidebar-logo.svg" alt="logo" class="img-fluid mb-3">
  </div>
  <div class="sidebar-menu">
    <ul>
      <li>
        <a routerLink="/home" routerLinkActive="router-link-active">
          <img src="images/sidebar/sidebar_icon01.svg" alt="sidebar_icon01" class="img-fluid mb-3">

          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a routerLink="routePath" routerLinkActive="router-link-active">
          <img src="images/sidebar/sidebar_icon02.svg" alt="sidebar_icon02" class="img-fluid mb-3">
          <span>Quiz History</span>
        </a>
      </li>
      <li>
        <a routerLink="routePath" routerLinkActive="router-link-active">
          <img src="images/sidebar/sidebar_icon03.svg" alt="sidebar_icon03" class="img-fluid mb-3">
          <span>Log Out </span>
        </a>
      </li>

    </ul>
  </div>
</aside>
