<nav>
  <div class="container">
    <div class="icon-bar text-end" (click)="toggleMenu()">
      <i class="fa-solid fa-bars"></i>
    </div>
    <ul [class.show]="isMenuOpen">
      <li>
        <a class="lang" routerLink="/auth/signin" routerLinkActive="router-link-active"><i class="fa-solid fa-language"></i> English <i class="fa-solid fa-caret-down"></i></a>
      </li>
      <li>

        <a class="signin" routerLink="/auth/signin"> <i class="fa-solid fa-user"></i> Sign in</a>
      </li>
      <li>

        <a class="register" routerLink="/auth/signup"><i class="fa-solid fa-user-plus"></i>Register</a>
      </li>
    </ul>
  </div>
</nav>
