@use '../../../../../public/sass/abstract/variables' as *;

::ng-deep .mat-mdc-dialog-surface {
  overflow-y: hidden !important;
}

.chart-container {
  width: 300px;
  margin: 0 auto 20px;
}

canvas {
  width: 220px !important;
  height: 220px !important;
}

.score-summary {
  text-align: center;
  margin-bottom: 20px;

  h3 {
    font-size: 1.5rem;
    margin-bottom: 8px;
    color: #333;
  }

  p {
    font-size: 1.2rem;
    color: #666;
  }
}

.questions-review {
  max-height: 400px;
  // overflow-y: auto;
  padding: 0 10px;

  h3 {
    font-size: 1.3rem;
    margin-bottom: 15px;
    color: #333;
  }

  .question-item {
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    background: rgba(68, 97, 242, .1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

    p {
      margin: 8px 0;
      line-height: 1.5;

      strong {
        color: #333;
      }
    }

    .correct {
      color: #4461F2;
      font-weight: 500;
    }

    .incorrect {
      color: #f44336;
      font-weight: 500;
    }

    .correct-answer {
      color: #4461F2;
      font-style: italic;
      margin-top: 5px;
      padding-left: 10px;
      border-left: 3px solid #4461F2;
    }
  }
}

mat-dialog-actions {
  padding: 16px 0 0;
  margin: 0;

  button {
    min-width: 100px;
    transition: .3s;
    &.close-btn:hover {
      background-color: $main-color;
      color: #fff;
    }
  }
}
