<div class="dashboard">
  <app-subjects></app-subjects>

    <!-- User Info -->
    <!-- <div class="user-info">
    <div class="user-avatar-container">
      <img src="images/user.jpg" alt="Profile" class="profile-img" />
    </div>
    <div class="user-details">
      <h2>Ahmed Mohamed</h2>
      <p>Voluptatem aut</p>
      <div class="progress-bar">
        <div class="progress-fill" style="width: 75%"></div>
      </div>
      <div class="user-stats">
        <div class="stat">
          <div class="stat-icon">
            <i class="fa-solid fa-flag"></i>
          </div>
          <div class="stat-info">
            <h4>27</h4>
            <p>Quiz Passed</p>
          </div>
        </div>
        <div class="stat">
          <div class="stat-icon">
            <i class="fa-solid fa-clock"></i>
          </div>
          <div class="stat-info">
            <h4>13 min</h4>
            <p>Fastest Time</p>
          </div>
        </div>
        <div class="stat">
          <div class="stat-icon">
            <i class="fa-solid fa-circle-check"></i>
          </div>
          <div class="stat-info">
            <h4>200</h4>
            <p>Correct Answers</p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
